* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    background-color: black; 
    font-family: 'Source Code Pro', monospace;
    font-size: 1.75rem;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1vw 5%;
}

a {
    text-decoration: none;
}
/* - - - - - - - - - - - - - - - 

        PASSWORD SECTION

- - - - - - - - - - - - - - - - */
#plansza{
    width: 100%;
    height: auto;
    padding: 2rem 0 ;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: calc(50px - 1.5rem);
    letter-spacing: 0.3rem;
    border-radius: 5px;
    color: gray;
}
/* - - - - - - - - - - - - - - - 

        LANGUAGE CHOOSE SECTION

- - - - - - - - - - - - - - - - */
#jezyk {
    width: 100px;
    height: 30px;
    background-color: rgba(15,240,30,0.7);
    position: fixed;
    top: 5px;
    right: 5px;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
}

#jezyk:hover{
    cursor: pointer;
}

#jezyk img {
    width: 40px;
    height: 20px;
    border-radius: 10%;
    float: left;
}
#jezyk h4 {
    float: left;
    position: relative;
    top: -10px;
    left: 5px;
}
/* - - - - - - - - - - - - - - - 

        IMAGE SECTION

- - - - - - - - - - - - - - - - */
#szubienica{
    margin: 2rem;
    margin-top: 3rem;
    width: 60vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
}
img{
    width: 100%;
    height: auto;
}
/* - - - - - - - - - - - - - - - 

        ALPHABET SECTION

- - - - - - - - - - - - - - - - */

#alfabet{
    text-align: center;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: auto;
    color: white;
    text-align: center;
}
.literka{
    width: 40px;
    height: 40px;
    background-color: #111;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #aaa;
    border: 2px solid #aaa;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    text-align: center;
}

.literka:hover{
    color: white;
    border-color: white;
    transform: scale(1.05);
}

input[type=button]:focus{
    outline: none;
}
/* - - - - - - - - - - - - - - - 

    WIN/LOOSE FEEDBACK SECTION

- - - - - - - - - - - - - - - - */
.powtorka {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: rgba(15,240,30,0.7);
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}
.powtorka:hover{
    color:white;
}
#correct-answer{
    text-transform: uppercase;
    color:aquamarine;
    font-weight: 700;
    text-decoration: underline;
}

#bad-answer{
    text-transform: uppercase;
}
/* - - - - - - - - - - - - - - - 

       KATEGORY BUTTONS SECTION

- - - - - - - - - - - - - - - - */
#kategorie-przyciski {
    width: 100%;
    padding: 1.5rem;
    padding-top: 0;
    margin-top: 30px;
    text-align: center;

}
.kategoria {
    width: auto;
    height: 50px;
    background-color: brown;
    margin: 5px 5px;
    padding: 7px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    color: black;
    text-align: center;

}
.kategoria:hover {
    background-color: #c74c4c;
    
}
/* kiedys tu bedzie obsluga plikow
#fromFile {
    width: 200px;
    height: auto;
    background-color: #483D8B;
    cursor: pointer;
    position: fixed;
    padding: 5px 10px;
    bottom: 50px;
    left: calc((90%-200px)/2);
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    
}
#fromFile:hover {
    background-color: #6a5eac;
}*/
/* - - - - - - - - - - - - - - - 

       CHANGE MEDIA SECTION

- - - - - - - - - - - - - - - - */
@media(min-width: 750px)
{
    #szubienica{
        float: left;
        width: 44vw;
        height: auto;
        max-width: 450px;
        margin: 0;
        padding: 0;
        border: none;
    }

    #alfabet{
        float: left;
        text-align: center;
        width: 45vw;
        max-width: 450px;
        height: auto;
        color: white;
        text-align: center;
        margin: 0;
        padding-top: 2rem;
        padding-left: 2rem;
    } 
    .container{
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding: 3%;
    }
}
/* - - - - - - - - - - - - - - - 

        NEXT WORD SECTION

- - - - - - - - - - - - - - - - */
#pojemnik-pole{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
input[type=submit],
input[type=password]{
    background-color: antiquewhite;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 10px;
}
input[type=submit]{
    margin-left: 10px;
    padding: 10px 25px;
    letter-spacing: 0.15rem;
}

input[type=submit]:focus{
	box-shadow: 0px 0px 5px 5px rgba(204,204,204,0.9);
}

input[type=password]:focus{
	box-shadow: 0px 0px 5px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: #fac09e;
    border-color: #fac09e;
}